USE [master]
GO
/****** Object:  Database [LavadoVehiculosDB]    Script Date: 16/3/2026 16:00:25 ******/
CREATE DATABASE [LavadoVehiculosDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'LavadoVehiculosDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\LavadoVehiculosDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'LavadoVehiculosDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\LavadoVehiculosDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [LavadoVehiculosDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [LavadoVehiculosDB]
GO
/****** Object:  Table [dbo].[Clientess]    Script Date: 16/3/2026 16:00:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clientess](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Identificacion] [varchar](12) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[Provincia] [nvarchar](50) NOT NULL,
	[Canton] [nvarchar](50) NOT NULL,
	[Distrito] [nvarchar](50) NOT NULL,
	[Direccion] [nvarchar](200) NOT NULL,
	[Telefono] [varchar](20) NOT NULL,
	[PreferenciaDeLavado] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Empleadoss]    Script Date: 16/3/2026 16:00:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Empleadoss](
	[Cedula] [varchar](12) NOT NULL,
	[FechaNacimiento] [date] NOT NULL,
	[FechaIngreso] [date] NOT NULL,
	[SalarioXDia] [float] NOT NULL,
	[VacacionesAcumuladas] [int] NOT NULL,
	[FechaDeRetiro] [date] NULL,
	[MontoLiquidacion] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Cedula] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Lavadoss]    Script Date: 16/3/2026 16:00:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lavadoss](
	[IdLavado] [int] IDENTITY(1,1) NOT NULL,
	[PlacaVehiculo] [varchar](10) NOT NULL,
	[IdCliente] [int] NOT NULL,
	[TiposDeLavado] [nvarchar](50) NOT NULL,
	[Pago] [decimal](10, 2) NOT NULL,
	[Impuesto] [decimal](10, 2) NOT NULL,
	[Total]  AS ([Pago]+[Impuesto]) PERSISTED,
	[Estado] [nvarchar](20) NOT NULL,
	[CedulaEmpleado] [varchar](12) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdLavado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RegistroVehiculoss]    Script Date: 16/3/2026 16:00:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RegistroVehiculoss](
	[Placa] [varchar](10) NOT NULL,
	[Marca] [nvarchar](50) NOT NULL,
	[Modelo] [nvarchar](50) NOT NULL,
	[Tracion] [nvarchar](20) NULL,
	[Color] [nvarchar](30) NULL,
	[UltimaFechaDeAtencion] [date] NOT NULL,
	[TratamientoEspecial] [bit] NOT NULL,
	[ClienteId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Placa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Empleadoss] ADD  DEFAULT ((0.00)) FOR [MontoLiquidacion]
GO
ALTER TABLE [dbo].[Lavadoss]  WITH CHECK ADD FOREIGN KEY([IdCliente])
REFERENCES [dbo].[Clientess] ([Id])
GO
ALTER TABLE [dbo].[Lavadoss]  WITH CHECK ADD FOREIGN KEY([PlacaVehiculo])
REFERENCES [dbo].[RegistroVehiculoss] ([Placa])
GO
ALTER TABLE [dbo].[Lavadoss]  WITH CHECK ADD  CONSTRAINT [FK_Lavado_Empleados_Cedula] FOREIGN KEY([CedulaEmpleado])
REFERENCES [dbo].[Empleadoss] ([Cedula])
GO
ALTER TABLE [dbo].[Lavadoss] CHECK CONSTRAINT [FK_Lavado_Empleados_Cedula]
GO
ALTER TABLE [dbo].[RegistroVehiculoss]  WITH CHECK ADD FOREIGN KEY([ClienteId])
REFERENCES [dbo].[Clientess] ([Id])
GO
USE [master]
GO
